<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar nav">
        <h3>Header</h3>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery/jquery-3.0.0.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
